page-p7 {
    .bg-image {
        background-image: url('../../assets/imgs/p7.png') ;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}
