<!--
  Generated template for the ShowmePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>ประวัติส่วนตัว</ion-title>
    <ion-buttons right *ngFor="let px of data" (click)="backhome(px.name_patient,px.gender_patient,px.height_patient,
    px.year_patient,px.hisdrug_patient,px.doc_patient,px.tel_patient,px.dis_patient,px.hos_patient,px.doctel_patient)">
      <button ion-button icon-only clear icon-only color="light">
        <ion-icon name="person" large></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color: rgb(81, 117, 158)">
  
  <ion-col>
    <ion-card *ngFor="let px of data">
    <ion-item >
        <ion-label>ชื่อ-นามสกุล: {{ px.name_patient }}</ion-label> 
      </ion-item>
      <ion-item>
          <ion-label>เพศ: {{ px.gender_patient }}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>น้ำหนัก: {{ px.email_patient }}</ion-label>
          </ion-item>

          <ion-item>
              <ion-label>ส่วนสูง: {{ px.height_patient }}</ion-label>
            </ion-item>

            <ion-item>
                <ion-label>อายุ : {{ px.year_patient }}</ion-label>
              </ion-item>

              <ion-item>
                  <ion-label>ประวัติการแพ้ : {{ px.hisdrug_patient }}</ion-label>
                </ion-item>

                <ion-item>
                    <ion-label>โรคประจำตัว : {{ px.dis_patient }}</ion-label>
                  </ion-item>

                  <ion-item>
                      <ion-label>หมอประจำตัว : {{ px.doc_patient }}</ion-label>
                        </ion-item>

                    <ion-item>
                        <ion-label>โรงพยาบาล : {{ px.hos_patient }}</ion-label>
                              </ion-item>

                    <ion-item>
                          <ion-label>เบอร์หมอ : {{ px.doctel_patient }}</ion-label>
                    </ion-item>

                    <ion-item>
                           <ion-label>เบอร์ญาติคนสนิท : {{ px.tel_patient }}</ion-label>
                      </ion-item> 
    </ion-card>
</ion-col>
 
                      </ion-content>
